.header1{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header1 > span {
    margin-left: 40px;
}
.header1 > .menus{
    display: flex;
}
.header1 > ul > li{
    width: 80px;
    display: flex;
}
.header2{
    background-color: gray;
    display: flex;
}
.header2 > ul {
    display: flex;
}
.header2 > ul > li:nth-child(1){
    background-color: red;
    display: flex;
}
.header2 > ul > li:nth-child(2){
    background-color: red;
    margin-left: 290px;
    display: flex;
}
.header2 > ul > li:nth-child(3){
    background-color: red;
    margin-left: 280px;
    display: flex;
}
.header3{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header3 > span:nth-child(1) {
    margin-left: 40px;
}
.header3 > ul{
    display: flex;
}
.header3 > ul > li {
    width: 80px;
    display: flex;
}
.header3 > span ~ span {
    margin-right: 25px;
}