@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

@media screen and (max-width: 800px) {
  .container .container2-1 {
    display: block;
  }
  .container2-1-1 {
    display: block;
  }
  .container2-2 {
    display: none;
  }
  .container2-3 {
    display: none;
  }
}
.sidebar-button {
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  color: #000; /* 텍스트 색상 설정 */
  width: 120px;
  height: 120px;
  cursor: pointer; /* 마우스 포인터를 변경하여 클릭 가능함을 표시 */
}
.container2-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

h1 {
  font-family: "Single Day", serif;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
.div-wrap {
  height: 400px;
  background-color: pink;
  visibility: hidden;
}

.menu {
  height: 25px;
}

.bar {
  margin: auto;
  height: 4px;
  width: 0%;
  background-color: blue;
  border-radius: 50px 50px 50px 50px;
}
.expandWidth {
  animation: expandWidth 0.5s ease-out forwards;
}
.shrinkWidth {
  animation: shrinkWidth 0.5s ease-out forwards; /* 축소와 페이드 아웃 애니메이션 적용 */
}

.expandHeight {
  animation: expandHeight 0.5s ease-out forwards;
}
.shrinkHeight {
  animation: shrinkHeight 0.5s ease-out forwards;
}
@keyframes expandHeight {
  from {
    height: 0%;
  }
  to {
    height: 300px;
  }
}

@keyframes shrinkHeight {
  from {
    height: 300px;
  }
  to {
    height: 0%;
  }
}

@keyframes shrinkWidth {
  from {
    width: 60%;
  }
  to {
    width: 0%;
  }
}

@keyframes expandWidth {
  form {
    width: 1%;
  }
  to {
    width: 60%;
  }
}

/* styles.css */
.header-menu {
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  color: #000; /* 텍스트 색상 설정 */
  width: 120px;
  height: 120px;
  cursor: pointer; /* 마우스 포인터를 변경하여 클릭 가능함을 표시 */
}

.header-hover-menu {
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  color: #000; /* 텍스트 색상 설정 */
  width: 120px;
  height: 70px;
  cursor: pointer; /* 마우스 포인터를 변경하여 클릭 가능함을 표시 */
}

.header {
  width: 100%;
  background-color: red;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container {
  display: flex;
  height: 120px;
  background-color: blue;
}
.container2 {
  min-width: 120px;
  height: 120px;
  text-align: center;
  background-color: yellow;
}

.container3 {
  background-color: violet;
  border: 1px solid black;
}

.container3-menu-1 {
  visibility: hidden;
}

.container3-menu-2 {
  visibility: hidden;
}
